[Desktop Entry]
Type=Application
Name=PhpStorm
Categories=Development,IDE
Exec=/opt/dev-container/jetbrains/scripts/phpstorm.sh
Icon=/opt/dev-container/jetbrains/icons/phpstorm.png