[Desktop Entry]
Type=Application
Name=PyCharm Community Edition
Categories=Development,IDE
Exec=/opt/dev-container/jetbrains/scripts/pycharm-ce.sh
Icon=/opt/dev-container/jetbrains/icons/pycharm-ce.png