[Desktop Entry]
Type=Application
Name=IntelliJ IDEA Ultimate
Categories=Development,IDE
Exec=/opt/dev-container/jetbrains/scripts/idea.sh
Icon=/opt/dev-container/jetbrains/icons/idea.png