[Desktop Entry]
Type=Application
Name=RustRover
Comment=IDE for Rust developers
Categories=Development;IDE;
Keywords=jetbrains;rustrover;RR;RustRover;
Exec=/opt/dev-container/jetbrains/scripts/rustrover.sh
Icon=/opt/dev-container/jetbrains/icons/rustrover.png