pandas
numpy
matplotlib
aiohttp
aiofiles
scikit-learn
pylint
pycodestyle
black
requests
fastapi
websockets
redis
python-dotenv
jupyter-lsp
jupyterlab
jupyterlab-lsp
jupyterlab-git
jupyter_scheduler
keras
boto3
python-lsp-server[all]